node_modules/
build/
MOTHERFUCKER/*.mp4
MOTHERFUCKER/*.png
MOTHERFUCKER/*.jpg
MOTHERFUCKER/*.wav
MOTHERFUCKER/**/*.mp4
MOTHERFUCKER/**/*.png
MOTHERFUCKER/**/*.jpg
MOTHERFUCKER/**/*.wav
MOTHERFUCKER/goldrender-packs/
MOTHERFUCKER/*.zip
